/**
  * 存放组件库全局通用的样式变量：
*/


@import "./config.scss";

// 注意点：为了区分全局变量和其他的局部变量，在全局变量（global）前面加上 g-

/**
  一.基础配置变量
*/
// 1.主题色
$g-color-primary : #408FFF;
$g-color-info : #878d99 ;
$g-color-success : #67c23a ;
$g-color-warning: #eb9e05;
$g-color-danger : #fa5555 ;

$g-color-base: $g-color-primary;
$g-color-white: #ffffff;
$g-color-black: #000000;
$g-color-transparent: transparent;

$g-color-primary-light-1: mix($g-color-white, $g-color-primary, 10%);
$g-color-primary-light-2: mix($g-color-white, $g-color-primary, 20%);
$g-color-primary-light-3: mix($g-color-white, $g-color-primary, 30%);
$g-color-primary-light-4: mix($g-color-white, $g-color-primary, 40%);
$g-color-primary-light-5: mix($g-color-white, $g-color-primary, 50%);
$g-color-primary-light-6: mix($g-color-white, $g-color-primary, 60%);
$g-color-primary-light-7: mix($g-color-white, $g-color-primary, 70%);
$g-color-primary-light-8: mix($g-color-white, $g-color-primary, 80%);
$g-color-primary-light-9: mix($g-color-white, $g-color-primary, 90%);


// 2.常见颜色变量：
$g-background-color-base: #f5f7fa;                   // 默认背景色

$g-bg-base: $g-color-white;                           // 默认内容的填充色


// 3.尺寸大小
$g-size-base: 14px;


// ----------------------------------------------------------------------------------------------

/**
  二.文字样式：
*/

// 1.文字大小
$g-font-size: 14px;
$g-font-size-base: 14px;
$g-font-size-medium: 14px;
$g-font-size-small: 13px;
$g-font-size-mini: 12px;
$g-font-size-large: 18px; 

// 2.文字颜色（多个使用场景下）
$g-text-color-primary: #2d2f33;                   // 主要文本的颜色 
$g-text-color-regular: #5a5e66;                   // 常规文本的颜色
$g-text-color-secondary: #878d99;                 // 次级文本的颜色
$g-text-color-placeholder: #b4bccc;               // placeholder文本的颜色

$g-link-color: $g-color-primary-light-2;            // (超链接形式)文本的颜色
$g-link-hover-color: $g-color-primary;

// 3.其他字体样式：
$g-font-path: 'fonts';
$g-font-weight: 500;

// 4.行高
$g-line-height: 1;

// ----------------------------------------------------------------------------------------------

/**
  盒模型样式：
*/

// 1.Border
$g-border-width-base: 1px;

$g-border-style-base: solid;

$g-border-color-base: #d8dce5;
$g-border-color-light: #dfe4ed;
$g-border-color-lighter: #e6ebf5;
$g-border-color-extra-light: #edf2fc;
$g-border-color-hover: $g-text-color-placeholder;

$g-border-base: $g-border-width-base $g-border-style-base $g-border-color-base;

$g-border-radius-base: 4px;
$g-border-radius-medium: 3px;
$g-border-radius-small: 2px;
$g-border-radius-mini: 2px;
$g-border-radius-circle: 100%;

// 2. padding
// 水平方向上的padding
$g-padding-v-base: 12px;
$g-padding-v-medium: 10px;
$g-padding-v-small: 9px;
$g-padding-v-mini: 7px;
// 垂直方向上的padding
$g-padding-h-base: 20px;
$g-padding-h-medium: 20px;
$g-padding-h-small: 15px;
$g-padding-h-mini: 15px;


// 3. box-shadow
$g-box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
$g-box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12);
$g-box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

// ----------------------------------------------------------------------------------------------

/**
  其他
*/
// 1. z-index
$g-index-normal: 1;
$g-index-top: 1000;
$g-index-popper: 2000;


// 2. 图标颜色
$g-icon-color: #666;
$g-icon-color-base: $g-color-info;

// 3.一些disabled情况下的（填充、字体、边框）颜色
$g-disabled-bg-base: $g-background-color-base;
$g-disabled-color-base: $g-text-color-placeholder;
$g-disabled-border-base: $g-border-color-light;