/**
  * _button.scss
  * 支持button的一些变量、混合器
*/
@import "./mixins.scss";
@import "../common/variables.scss";


/** 
  * 一.定义按钮使用的变量---------------------------------------------------------------------------
*/ 
// 1.不同尺寸（默认、medium、small、mini）下：字体大小、border-radius大小、水平padding大小、垂直padding大小
$button-font-size: $g-font-size-base;
$button-border-radius: $g-border-radius-base;
$button-padding-vertical: $g-padding-v-base;
$button-padding-horizontal: $g-padding-h-base;

$button-font-size-medium: $g-font-size-medium;
$button-border-radius-medium: $g-border-radius-medium;
$button-padding-vertical-medium: $g-padding-v-medium;
$button-padding-horizontal-medium: $g-padding-h-medium;

$button-font-size-small: $g-font-size-small;
$button-border-radius-small: $g-border-radius-small;
$button-padding-vertical-small: $g-padding-v-small;
$button-padding-horizontal-small: $g-padding-h-small;

$button-font-size-mini: $g-font-size-mini;
$button-border-radius-mini: $g-border-radius-mini;
$button-padding-vertical-mini: $g-padding-v-mini;
$button-padding-horizontal-mini: $g-padding-h-mini;

// 2.不同类型（默认、primary、success、warning、danger、info）下：字体颜色、背景色、边框样式

$button-color: $g-text-color-primary;
$button-bg-color: $g-fill-base;
$button-border: $g-border-base;

$button-color-primary: $color-white;
$button-bg-color-primary: $color-primary;
$button-border-color-primary: $color-primary;

$button-color-success: $color-white;
$button-bg-color-success: $color-success;
$button-border-color-success: $color-success;

$button-color-warning: $color-white;
$button-bg-color-warning: $color-warning;
$button-border-color-warning: $color-warning;

$button-color-danger: $color-white;
$button-bg-color-danger: $color-danger;
$button-border-color-danger: $color-danger;

$button-color-info: $color-white;
$button-bg-color-info: $color-info;
$button-border-color-info: $color-info;

// 3.不同状态（disabled、:hover、:active）下：字体颜色、填充的背景色、边框样式
$button-color-disabled: $g-text-color-placeholder;
$button-bg-color-disabled: $g-color-white;
$button-border-color-disabled: $g-border-color-lighter;

$button-hover-tint-percent: 20%;            // 按钮在hover状态时的颜色淡化比率
$button-active-shade-percent: 10%;          // 按钮在active状态时的阴影比率

// 4.其他：
$button-font-weight: $g-font-weight;
/*---------------------------------------------------------------------------*/



/**
  * 二.定义按钮自己用的一些混合器
*/ 

// 1.设置按钮的尺寸样式
@mixin button-size($padding-v, $padding-h, $font-size, $border-radius) {
  padding: $padding-v, $padding-h;
  font-size: $font-size;
  border-radius: $border-radius;


}

// 按钮在设置了反白属性--plain 时的渲染样式
// * 特点；背景色、文本色、边框色跟正常情况下取反
@mixin button-plain($color) {
  color: $color;
  background: mix($g-color-white, $color, 90%);
  border-color: mix($g-color-white, $color, 60%);

  &:hover,
  &:focus {
    color: $g-color-white;
    background: $color;
    border-color: $color;
  }

  &:active {
    color: $g-color-white;
    background: mix($g-color-black, $color, $button-active-shade-percent);
    border-color: mix($g-color-black, $color, $button-active-shade-percent);
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($g-color-white, $color, 40%);
      background-color: mix($g-color-white, $color, 90%);
      border-color: mix($g-color-white, $color, 80%);
    }
  }
}

// 按钮在设置了幽灵属性--ghost 时的渲染样式
// * 特点：背景永远是透明的，文本和边框有颜色
@mixin button-ghost($color) {
  color: $color;
  background: $g-color-transparent;
  border-color: $color;

  &:hover,
  &:focus {
    color: mix($g-color-black, $color, $button-hover-tint-percent);
    border-color: mix($g-color-black, $color, $button-hover-tint-percent);
  }

  &:active {
    color: mix($g-color-black, $color, $button-active-shade-percent);
    border-color: mix($g-color-black, $color, $button-active-shade-percent);
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus,
    &:active {
      color: mix($g-color-white, $color, 40%);
      border-color: mix($g-color-white, $color, 80%);
    }
  }
}


// 2.设置按钮的渲染样式  
//  2.1 设置按钮的默认渲染样式
@mixin button-variant-default {
  background: $button-bg;
  border: $button-border;
  border-color: $button-color;
  color: $button-color;

  &:hover,
  &:focus {
    color: $g-color-primary;
    background-color: $g-color-primary-light-7;
    border-color: $g-color-primary-light-7;
    
  }
  &:active {
    color: mix($g-color-black, $g-color-primary, $button-active-shade-percent);
    border-color: mix($g-color-black, $g-color-primary, $button-active-shade-percent);
    outline: none;
  }

  @include when(active) {
    color: mix($g-color-black, $g-color-primary, $button-active-shade-percent);
    border-color: mix($g-color-black, $g-color-primary, $button-active-shade-percent);
    outline: none;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $button-color-disabled;
      cursor: not-allowed;
      background-image: none;
      background-color: $--button-disabled-fill;
      border-color: $--button-disabled-border;
    }
  }

  @include when(plain) {

  }

  @include when(ghost) {

  }
}


// 2.2 设置不同风格按钮的渲染样式：
@mixin button-variant($color, $bg-color, $border-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;

  &:hover,
  &:focus {
    color: $color;
    background-color: mix($g-color-white, $bg-color, $button-hover-tint-percent);
    border-color: mix($g-color-white, $border-color, $button-hover-tint-percent);
    
  }
  &:active {
    color: $color;
    background-color: mix($g-color-black, $bg-color, $button-active-shade-percent);
    border-color: mix($g-color-black, $border-color, $button-active-shade-percent);
    outline: none;
  }

  @include when(active) {
    color: $color;
    background-color: mix($g-color-black, $bg-color, $button-active-shade-percent);
    border-color: mix($g-color-black, $border-color, $button-active-shade-percent);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus,
    &:active {
      color: $g-color-white;
      background-color: mix($bg-color, $g-color-white);
      border-color: mix($border-color, $g-color-white);
    }
  }

  // 组合 plain 的情况
  @include when(plain) {
    @include button-plain($bg-color);
  }
  // 组合 ghost 的情况
  @include when(ghost) {
    @include button-ghost($bg-color);
  }
}