/**
  * mixins.scss：
  * 定义一些特殊的指令
*/
@import "./function.scss";
@import '../common/variables.scss';


/**
  * 定义生成选择器（BEM命令规范）的指令
*/
// 1.定义 块（block） 的选择器
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;                         // @content 命令用于在使用指令时，会将指令中的内容放到该位置来
  }
}

// 2.定义 元素（element） 的选择器
//  * 注意点：
//      1. !global：变量提升，将局部变量提升为全局变量，在其他函数体内也能访问到此变量
//      2. @at-root：将父级选择器直接暴力的改成根选择器
@mixin e($element) {
  $E: $element !global;
  $selector: &;
  $currentSelector: "";
  @each $unit in $element {
    $currentSelector: #{$currentSelector + "." + $B + $element-separator + $unit + ","};
  }
  @if hitAllSpecialNestRule($selector) {
    @at-root {
      #{$selector} {
        #{$currentSelector} {
          @content;
        }
      }
    } 
  } @else {
    #{$currentSelector} {
      @content;
    }
  }
}

// 3.定义 修饰符（modifier） 的选择器
@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ","};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}