/**
  * utils.scss：  
  * 定义全局通用的基础混合指令（样式片段）
*/


// 单行文本溢出截断省略
@mixin utils-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 多行文本溢出截断省略
@mixin utils-ellipsis-multiple($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}

// 文本是否可选择
@mixin utils-user-select($value) {
  -moz-user-select: $value;
  -webkit-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// 清除浮动：
@mixin utils-clearfix {
  $selector: &;

  #{$selector}::before,                             // 这里的 #{变量} 为插值语句，可以用于在选择器或属性名中使用变量  
  #{$selector}::after {
    display: table;
    content: "";
  }
  #{$selector}::after {
    clear: both;
  }
}

// 垂直居中；
@mixin utils-vertical-middle {
  $selector: &;

  #{$selector}::after {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle;
  }
}


// 修改滚动条的默认样式（对滚动条各部分的样式设置参考 https://www.cnblogs.com/ruoyaozhan/p/10872465.html）
@mixin scroll-bar {
  $--scrollbar-thumb-background: #b4bccc;             // 滚动条中滚动块的颜色
  $--scrollbar-track-background: #fff;                // 滚动条中滚动轨道的颜色

  &::-webkit-scroll {
    z-index: 11;
    width: 6px;

    &:horizontal {
      height: 6px;
    }
    
    &-thumb {
      border-radius: 5px;
      width: 6px;
      background: $--scrollbar-thumb-background;
    }

    &-corner {
      background: $--scrollbar-track-background;
    }

    &-track {
      background: $--scrollbar-track-background;

      &-piece {
        background: $--scrollbar-track-background;
        width: 6px;
      }
    }
  }
}

// 修改placeholer的样式：
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }

  &::-moz-placeholder {
    @content
  }

  &:-ms-input-placeholder {
    @content
  }
}