@charset "UTF-8";
@import "../common/config.scss";
@import "../mixins/mixins.scss";
@import "../mixins/utils.scss";
@import "../mixins/_button.scss";



// 按钮的基础样式
@include b(button) {
  display: inline-block;
  line-height: $line-height;
  white-space: nowrap;                    // 文本不换行
  line-height: $g-line-height;
  cursor: pointer;
  -webkit-appearance: none;               // 改变按钮元素在不同浏览器的默认显示外观 -- 这里默认都关闭，因为按钮的样式全部自己来手动设置
  text-align: center;
  box-sizing: border-box;
  outline: none;                          // 去除按钮周围的轮廓线（原生button元素在选中时(active)，在四周会出现默认的轮廓线，很丑，因此要去掉）
  margin: 0;
  transition: 0.1s;
  font-weight: $button-font-weight;
  @include utils-user-select(none);       // 按钮的文案不可被鼠标选中

  & + #{&} {                              // 多个按钮同时在水平方向上显示时，添加一个横向间距 
    margin-left: 10px;
  }

  // 设置默认按钮的尺寸样式
  @include button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size, $button-border-radius);

  // 设置默认按钮的渲染样式（文本颜色、背景色、边框）、以及在不同特殊状态下（:hover、:focus、:active、disbaled、plain、ghost）的样式表现
  @include button-variant-default;
}